.tel{
    img{
        width: 100%;
        border-radius: 25px;
        background-size: cover;
        height: auto;
        display: block;
    }
}
@media screen and (min-width: 768px) {
    .tel{
        img{
            height: 255px;
            background-size: none;
        }
    }
    
}

