.stars >*:not(:first-child){
    margin-left: 3px;
   }
  
  .AlexAndStars{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    .stars{
        padding-top: 5px;
    width: 98px;
        i{
         width: 17px;   
        color: var(--red);
    }
    .gray{
        color: #E3E3E3;
    }
   }
   .user{
    display: flex;
    width: 135.5px;
    height: 33px;
    color: var(--red);
    
        p{
            text-align: end;
            width: 93px;
            height: 33px;
            margin: 0;
            font-weight: 500;
            font-size: 12px;

        }

        .cercle{
            width: 32px;
            height: 32px;
            border-radius: 25px;
            background-color: #c4c4c4;
            margin-left: 8px;
       }
   }
   }