.A_Propos{
    
    .aproposCollapse{
        margin-top: 30px;
        padding: 0 4%;
    }
}

@media screen and (min-width: 768px) {
    .A_Propos{
        
        .aproposCollapse{
            padding: 0 10%;
        }
    }

}