.fichelogement {
    width: 92%;
    padding: 0% 4% 0% 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .carousel-container {
        width: 100%;
        max-width: 3000px;
        margin: 0 auto;
        border-radius: 25px;
        overflow: hidden;
        
        .carousel-image {
            object-fit: cover; 
            height: 500px;
            width: 100%;

        }
    }

    .ville {
        margin: 10px 0 0 0;
        font-weight: 500;
        font-size: 18px;
        vertical-align: bottom;

        .classTitle {
            font-family: 'Montserrat';
            font-weight: 500;
            font-size: 24px;
            vertical-align: bottom;
            color: var(--red);
            margin: 10px 0;
        }

        .subClassTitle {
            margin: 5px 0 0 0;
            color: black;
        }

        .bloc-rectangle {
            display: flex;
            justify-content: flex-start;
            color: white;

            .rectangle {
                border-radius: 5px;
                border: 1px solid var(--red);
                background: var(--red);
                width: 80px;
                height: 18px;
                text-align: center;
                font-weight: 700;
                font-size: 8px;
                padding-top: 6px;
            }
        }
    }

    .stars {
        padding-top: 5px;
        width: 98px;

        i {
            width: 17px;
            color: var(--red);
        }

        .gray {
            color: #E3E3E3;
        }
    }

    .containerUserStars {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;

        .stars {
            display: flex;
            align-items: center;
            width: 98px;

            i {
                width: 17px;
                color: var(--red);
            }

            .gray {
                color: #E3E3E3;
            }
        }

        .user {
            display: flex;
            width: 135.5px;
            height: 33px;
            color: var(--red);
            margin-bottom: 10px;

            p {
                text-align: end;
                width: 93px;
                height: 33px;
                margin: 0;
                font-weight: 500;
                font-size: 17px;
            }

            .cercle {
                width: 40px;
                height: 40px;
                border-radius: 25px;
                background-color: #c4c4c4;
                margin-left: 8px;
            }
        }
    }

}

.bloc-rectangle>*:not(:first-child) {
    margin-left: 10px;
}

.stars>*:not(:first-child) {
    margin-left: 3px;
}




@media screen and (min-width: 768px) {

    .BannerAppartement {
        .tel {
            img {
                height: 255px;
                background-size: none;
            }

        }
    }

    .bloc-rectangle>*:not(:first-child) {
        margin-left: 10px;
    }

    .bloc-rectangle {
        display: flex;
    }

    .classTitle {
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 36px;
        vertical-align: bottom;
        color: #FF6060;
    }

    .stars>*:not(:first-child) {
        margin-left: 3px;
    }

    .stars {
        margin-bottom: 10px;

        i {
            color: var(--red);
        }

        .gray {
            color: #E3E3E3;
        }
    }

    .responsive {
        display: flex;
        justify-content: space-between;
    }

    .collapse_flex {
        display: flex;
        gap: 20px;
    }


    .containerUserStars {
        margin-top: 10px;
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 5px;

        .stars {
            padding-top: 5px;
            width: 98px;
            margin-left: 35px;

            i {
                width: 17px;
                color: var(--red);
            }

            .gray {
                color: #E3E3E3;
            }
        }
    }
}