.header{
    width: 92%;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    margin: 0% 4% 0% 4%;
    

    .logo{
        width: 25%;
    }
     a{
        text-decoration: none; 
        color: black
        }
   
        .acceuil_and_a_propos{
            text-transform: uppercase;
            width: 50%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-weight: 500;
            font-size: 74%;
            text-align: left;
            vertical-align: bottom;
            gap: 15px;
            
        }
}

.nav-link {
  text-decoration: none;
  color: black;
  position: relative;
}

.nav-link .accueil,
.nav-link .a_propos {
  padding-bottom: 4px;
}

.nav-link.active .accueil::after,
.nav-link.active .a_propos::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
}


@media  screen and (min-width: 768px){
    .header{
        margin: 2% 4% 2% 4%;
        .logo{
            width: 15%;
        }
        .acceuil_and_a_propos{
            text-transform: none;
            width: 41%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-weight: 500;
            font-size: 136%;
            text-align: left;
            vertical-align: bottom;
            
        }
    }
    
}

