.apartement{
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 92%;
    flex-direction: column;
    justify-content: flex-end;
    margin: 4%;
    position: relative;
    img{
        width: 440px;
        height: 250px;
        object-fit: cover;
        border-radius: 1rem;
        box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
        filter: brightness(0.8);
    }
        a{
            text-decoration: none;   
            cursor: pointer;
        }
        h5{
            position: absolute;
            display: flex;
            color: white;
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 83%;
            vertical-align: bottom;
            margin-left: 15px;
            margin-top: -58px;
            height: 40px;
            width: 54%;
            align-items:end;
        }
        
}




@media screen and (min-width: 768px){
    .apartement{
        width: 29%;
        margin: 10px 0;
        h5{
            font-size: 15px;
            margin-left: 15px;
            margin-top: -58px;
            height: 40px;
            width: 65%;
        }
        
    }
  }