.ApartementGray {
    width:100%;
    background: var(--white);
    border-radius: 25px;
    height: auto;
    justify-content: center;
}


@media screen and (min-width: 768px){
   .ApartementGray{
    width: 93%;
    background: var(--gray);
    margin-left: 30px;
    margin:20px 56px;
    padding:  20px 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
   }
 }
