.ApartementGray {
    width:100%;
    background: var(--white);
    border-radius: 25px;
    height: auto;
    justify-content: center;
    gap: 4%;
}


@media screen and (min-width: 768px){
   .ApartementGray{
    width: 92%;
    background: var(--gray);
    margin:20px 51px;
    padding:  20px 0;
    display: flex;
    flex-wrap: wrap;;
   }
 }
