:root {
    --red: #ff6060;
    --gray: #F6F6F6;
    --white: #ffffff;
}
body{
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
}


@media screen and (width: 768px) {
    body{
        padding: 0px;
        margin: 0px;
        display: flex;
        justify-content: center;
    }
}