.banner { 
   width: 92%;
   position: relative;
   max-width: 110vw;
   background: url("/public/img/img_banner.png");
   background-position: center;
   background-repeat:no-repeat;
   background-size: cover;
   border-radius: 25px;
   display: flex;
   justify-content: center;
   box-shadow: 0px 4px 4px 0px #00000040;
   margin-left: 4%;
   h3{
      position: relative;  
      margin: 60px 0 60px 0;
      width: 93%;
      font-size: 22px;
      text-align: start;
      color: white;
      font-family:'Montserrat';
      br{
         display: flex;
      }
   }
}

.banner::before{
   position: absolute;
   content: "";
   inset: 0; /*c'est la même chose que top, left, bottom des position absolute*/
   background-color: rgba(0,.0,.0, 3.5);
   border-radius: 25px;
   opacity: 0.5;
}

@media screen and (min-width: 768px){
   .banner{
      h3{
         width: 45%;
         text-align: center;
         font-size: 26px;
         br{
            display: none;
         }
      }
   }
}



